# dependencies
/node_modules

# build output
/dist/

# misc
.DS_Store
*.pem
.cache/

# debug
npm-debug.log*
pnpm-debug.log*

# local env files
.env
.env.*
.env*.local
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# generated at build time
src/data/pinned-repos.json
